//color
$lightblue:lightblue;
$primary: violet;
$secondary:limegreen;
$background:#E0F2F3;
$white:white;
$background-image:linear-gradient(to bottom right, #E1BEE7, #B2EBF2);


//Font
$impact: Charcoal, sans-serif;
$bold: bold;
