html{
	font-family: $impact;
	// background-color:$background;
}

.btn{
	font-size:1.5em;
	color:$white;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(violet), to(lightblue));
	 //color-stop(50%, lightblue));
	margin:1em;
	padding: 1em;
	border-radius:.5em;
	&:hover{
		text-transform:uppercase;
		background: -webkit-gradient(linear, 0 0, 100% 0, from(purple), to(skyblue));

	}
}

a{
	font-weight:$bold;
	text-decoration:none;
	&:hover{
		text-decoration: underline;
	}
}

h1{
	color:violet;
}
